
//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//
//// Variables
//@import "variables";
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//
//@import "/public/website/css/bootstrap.min.css";
//@import "/public/website/css/revolution-slider.css";
//@import "/public/website/css/style.css";
//@import "/public/website/css/responsive.css";


  .logo {
    img {
      max-width: 250px;
      max-height: 100px;
    }
  }

  .inner-box {
    .image {
      img {
        max-height: 400px;
      }
    }
  }
